<div class="container" style="margin: 0 auto;">
  <h1 class="margin-top-xl" style="width:100% !important;">Edit Homepage</h1>
  <mat-tab-group mat-stretch-tabs class="margin-top-xl" style="width:100% !important;">
    <mat-tab label="Title">
      <app-main-text></app-main-text>
    </mat-tab>
    <mat-tab label="Categories"> 
      <app-edit-categories></app-edit-categories> 
    </mat-tab>
    <mat-tab label="Stories">
      <app-edit-stories></app-edit-stories>
    </mat-tab>
  </mat-tab-group>  
</div>