h1.big-heading {
    font-weight: 900;
    font-size:3rem;
    text-transform: uppercase;
    width:100px;
    @media(min-width:$screen-md){
        font-size:5rem;
        text-transform: uppercase;        
    }
    margin:0;
}
h2 {
    margin:0;
    color:$primary-color;
    font-family: Vollkorn;
}