<a href="#" mat-button class="d-flex-1 text-left ">People</a>
<a href="#" mat-button class="d-flex-1 text-left ">Events</a>
<a href="#" mat-button class="d-flex-1 text-left ">Communities</a>
<a href="#" mat-button class="d-flex-1 text-left ">Jobs</a>
<a href="#" mat-button class="d-flex-1 text-left ">Resources</a>
<a href="#" mat-button class="d-flex-1 text-left ">Contact</a>
<ul class="social-media d-flex" fxShow fxHide.md fxHide.xl fxHide.lg>
    <li>
        <a href="https://www.facebook.com/PurdueAlumniAssociation" target="_blank">
            <i class="fab fa-facebook text-4x margin-right-md"></i>
        </a>
    </li>
    <li>
        <a href="https://twitter.com/PurdueAlumni" target="_blank">
            <i class="fab fa-twitter text-4x margin-right-md"></i>        
        </a>
    </li>
    <li>
        <a href="https://www.linkedin.com/company/purdue-alumni-association" target="_blank">
            <i class="fab fa-linkedin text-4x margin-right-md"></i> 
        </a>
    </li>
    <li>
        <a href="https://www.pinterest.com/purduealumni/" target="_blank">
            <i class="fab fa-pinterest text-4x margin-right-md"></i>
        </a>
    </li>
    <li>
        <a href="https://instagram.com/purduealumni/" target="_blank">
            <i class="fab fa-instagram text-4x margin-right-md"></i>
        </a>
    </li>
</ul>