<mat-drawer-container class="example-container" [hasBackdrop]="false">
    <mat-drawer #sidenav [mode]="'side'" class="sidenav">
        <app-nav-items></app-nav-items>   
    </mat-drawer>
    <mat-drawer-content>
        <div class="hideNav" *ngIf="navOpen" (click)="toggleNav()"></div>
        <div class="right" (window:resize)="onResize($event)" [ngClass]="{'first': navOpen == true}" #mainContent [style.width.px]="mainWidth" >
            <app-header></app-header>
            <app-navigation (openNav)="openNav($event)"></app-navigation>
            <div class="content d-flex-md d-flex-direction-column d-flex-justify-content-center d-flex-align-items-center">
                <router-outlet></router-outlet>
            </div>
            <app-footer></app-footer>
        </div>    
    </mat-drawer-content>    
</mat-drawer-container>

      
      