<mat-card>
  <div class="d-flex margin-top-md margin-bottom-md d-justify-content-space-between">
    <h2>Stories</h2>
    <button mat-raised-button color="submit" (click)="toggleAddView()">Add New</button>
  </div>
  <form *ngIf="toggle == true;" #editMainForm="ngForm">
    <h3>Add new story</h3>
    <mat-card>
      <form (ngSubmit)="addCat(i)" #addCatForm="ngForm">
        <div *ngIf="addCatForm.form.controls.addName?.invalid && (addCatForm.form.controls.addName?.dirty || addCatForm.form.controls.addName?.touched)">
          <p *ngIf="addCatForm.controls.addName?.errors.required" class="bg-danger margin-bottom-sm padding-sm">Name is required</p>
        </div>             
        <mat-form-field>
          <input matInput placeholder="Name" required [(ngModel)]="add.Name" name="addName">
        </mat-form-field>
        <div *ngIf="addCatForm.form.controls.addTitle?.invalid && (addCatForm.form.controls.addTitle?.dirty || addCatForm.form.controls.addTitle?.touched)">
          <p *ngIf="addCatForm.controls.addTitle?.errors.required" class="bg-danger margin-bottom-sm padding-sm">Title is required</p>
        </div>                   
        <mat-form-field>
          <input matInput placeholder="Title" required  [(ngModel)]="add.title" name="addTitle">
        </mat-form-field>    
        <div *ngIf="addCatForm.form.controls.addImg?.invalid && (addCatForm.form.controls.addImg?.dirty || addCatForm.form.controls.addImg?.touched)">
          <p *ngIf="addCatForm.controls.addImg?.errors.required" class="bg-danger margin-bottom-sm padding-sm">Image is required</p>
        </div>            
        <mat-form-field>
          <input matInput placeholder="Image" required [(ngModel)]="add.image" name="addImg">
        </mat-form-field>   
        <div *ngIf="addCatForm.form.controls.addURL?.invalid && (addCatForm.form.controls.addURL?.dirty || addCatForm.form.controls.addURL?.touched)">
          <p *ngIf="addCatForm.controls.addURL?.errors.required" class="bg-danger margin-bottom-sm padding-sm">URL is required</p>
        </div>              
        <mat-form-field>
          <input matInput placeholder="URL" required [(ngModel)]="add.URL" name="addURL">
        </mat-form-field>
        <div class="d-flex d-flex-direction-row-reverse margin-top-md">
          <button mat-raised-button color="submit" class="margin-left-md" type="submit" [disabled]="!addCatForm.valid">Save Changes</button>
          <button mat-raised-button type="button" (click)="remove(i)">Cancel</button>
        </div>
      </form>      
    </mat-card>
  </form>
  <mat-accordion *ngIf="categories">
    <h3>Edit Stories</h3>
    <mat-expansion-panel *ngFor="let story of categories.stories; let i = index;">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <strong>{{story.Name}}</strong>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <form (ngSubmit)="onSubmit(i)" #editCatForm="ngForm">
        <div *ngIf="editCatForm.form.controls.name?.invalid && (editCatForm.form.controls.name?.dirty || editCatForm.form.controls.name?.touched)">
          <p *ngIf="editCatForm.controls.name?.errors.required" class="bg-danger margin-bottom-sm padding-sm">Name is required</p>
        </div>          
        <mat-form-field>
          <input matInput placeholder="Name" required [(ngModel)]="model[i].Name" name="name">
        </mat-form-field>
        <div *ngIf="editCatForm.form.controls.title?.invalid && (editCatForm.form.controls.title?.dirty || editCatForm.form.controls.title?.touched)">
          <p *ngIf="editCatForm.controls.title?.errors.required" class="bg-danger margin-bottom-sm padding-sm">Title is required</p>
        </div>            
        <mat-form-field>
          <input matInput placeholder="Title" required [(ngModel)]="model[i].title" name="title">
        </mat-form-field>    
        <div *ngIf="editCatForm.form.controls.img?.invalid && (editCatForm.form.controls.img?.dirty || editCatForm.form.controls.img?.touched)">
          <p *ngIf="editCatForm.controls.img?.errors.required" class="bg-danger margin-bottom-sm padding-sm">Image is required</p>
        </div>         
        <mat-form-field>
          <input matInput placeholder="Image" required [(ngModel)]="model[i].image" name="img">
        </mat-form-field>  
        <div *ngIf="editCatForm.form.controls.url?.invalid && (editCatForm.form.controls.url?.dirty || editCatForm.form.controls.url?.touched)">
            <p *ngIf="editCatForm.controls.url?.errors.required" class="bg-danger margin-bottom-sm padding-sm">URL is required</p>
          </div>            
        <mat-form-field>
          <input matInput placeholder="URL" required [(ngModel)]="model[i].URL" name="url">
        </mat-form-field>
        <div class="d-flex d-flex-direction-row-reverse margin-top-md">
          <button mat-raised-button color="submit" class="margin-left-md" type="submit" [disabled]="!editCatForm.valid">Save Changes</button>
          <button mat-raised-button color="warn" type="button" (click)="remove(model[i].ID)">Remove</button>
          <button mat-raised-button type="button" class="margin-right-md" (click)="reset(i)">Reset</button>
        </div>
      </form>     
    </mat-expansion-panel> 
  </mat-accordion>
</mat-card>
  
  